@media only screen and (max-width: 600px){
  body{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color:#505a63;
  }
  a{
    text-decoration: none;
    color:#505a63;
  }

/*Header*/
/*Navigation*/
.navigation-list a:hover{
  color:#303a41;
  border-bottom: 1px solid #303a41;
}
.navigation-list{
  list-style-type: none;
  margin:0;
  padding: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
input::placeholder {color: white;}
input:-ms-input-placeholder {color: white;}
input::-ms-input-placeholder {color: white;}
